<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.world_tech_point.lambebrowser">

    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:name=".AppNotify"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="m">
        <activity android:name=".HistoryActivity">

        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".serviceFragment.DownloadActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".mp3Folder.MP3_PlayActivity" />
        <activity android:name=".videoShowFolder.VideoShowActivity" />
        <activity android:name=".wallet.WalletActivity" />
        <activity android:name=".YoutubeVideoPlayerActivity" />
        <activity android:name=".categoryControl.AddCategoryActivity" />
        <activity android:name=".ReadBlogActivity" />
        <activity android:name=".serviceFragment.SubmitMemberInfoActivity" />
        <activity android:name=".VideoPlayActivity" />



        <activity android:name=".openSplash.OpenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/mAppId"/>

    </application>

</manifest>